.selector-for-some-widget {
  box-sizing: content-box;
}

.h1 {
  font-size: 10px;
}
#app {
  background-color: hsla(176, 72%, 14%, 0.3);
}
button.link {
  background: none;
  border: none;
  text-align: left;
}

h1 {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  font-style: normal;
}
legend {
  font-size: 10px;
  font-family: Verdana, sans-serif;
  font-style: normal;
}
body {
  font-size: 15px;
  font-family: "Palette Mosaic", sans-serif;
  font-style: normal;
  font-stretch: condensed;
  margin: 0;
}
.dropdown-menu-general {
  width: 250px !important;
  height: 200px !important;
}

table,
td,
th,
tr,
td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  margin: 50px auto;
}

/*
You could optinally style some elements using 
CSS if they aren't styled well enough by water.css
*/